.render_colors {
    border: 1px solid #787777;
    width: 500px;
  
  }

.square {
    width: 15px;
    height: 15px;
    margin: 2px;
    display: inline-block;
}

.container_colors {
    text-align: left;
}
