body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Центрирование по высоте */
  margin: 0; /* Убираем отступы */
  background-color: rgba(0, 0, 0, 0.637);
}

.container {
  display: flex;
  text-align: center;
  gap: 20px;
  width: 100%;

}
.colors {
  background-color: rgb(246, 211, 211);
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 500px;


}

.item {
  display: flex;
  flex-direction: column; /* Чекбоксы внутри .content тоже в колонке */
  gap: 1px; /* Расстояние между чекбоксами */
  padding: 10px;
  border: 1px solid #9a0c0c;

}

